{% extends 'base_dashboard.html' %}

{% block content %}
<div class="container mt-4">
    <form method="POST">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="campaign_id" name="campaign_id" value="{{ current_campaign.property_address }}" readonly>
            <label for="campaign_id">Campaign</label>
        </div> 
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="document_name" name="document_name" required>
            <label for="campaign_name">Document Name</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" id="document_type" name="document_type" required>
                <option value="Property Listing Page">Property Listing Advertisement</option>
                <option value="Facebook Ad">Social Media Post</option>
                <option value="Email">Email</option>
            </select>
            <label for="document_type">Document Type</label>
        </div>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="include_agent_contact" name="include_agent_contact">
            <label class="form-check-label" for="include_agent_contact">Include Agent Contact Information</label>
        </div>

        <div id="agent_contact_fields" style="display: none;">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="agent_name" name="agent_name" placeholder=" ">
                <label for="agent_name">Full Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="agent_email" name="agent_email" placeholder=" ">
                <label for="agent_email">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="agent_mobile" name="agent_mobile" placeholder=" ">
                <label for="agent_mobile">Mobile Number</label>
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    <!-- Add this spinner at the end of your form -->
    <div class="spinner-border avatar-lg text-primary" role="status" id="loadingSpinner" hidden></div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Show or hide agent contact fields when the checkbox is clicked
    document.getElementById('include_agent_contact').addEventListener('change', function() {
        var agentContactFields = document.getElementById('agent_contact_fields');
        if (this.checked) {
            agentContactFields.style.display = 'block';
        } else {
            agentContactFields.style.display = 'none';
        }
    });
</script>
<script>
    document.getElementById('campaignForm').addEventListener('submit', function() {
        // Show the loading spinner
        document.getElementById('loadingSpinner').style.display = 'block';
    });
</script>
    
{% endblock %}