{% extends 'base_dashboard.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-floating">
                <textarea class="form-control" id="apiOutput" style="height: 80vh;" readonly>{{ document.content }}</textarea>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Details</h3>
                    <p><strong>Document Name:</strong> {{document.document_name}} </p>
                    <p><strong>Property Address:</strong> {{ document.campaign.property_address }}</p>
                    <p><strong>Document Type:</strong> {{ document.document_type }}</p>
                    <p><strong>Campaign Tone:</strong> {{ document.campaign_tone }}</p>
                    <p><strong>Writing Style:</strong> {{ document.writing_style }}</p>
                    <p><strong>Size:</strong> {{ document.size }}</p>
                    <p><strong>Include Agent Contact:</strong> {{ 'Yes' if document.include_agent_contact else 'No' }}</p>
                </div>
                <a href="{{ url_for('views.campaign_manage', campaign_id=document.campaign_id) }}" class="btn btn-primary mt-3">Back to Campaign Management screen</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
